html {

    min-width: 250px;
    position: relative;
    margin-left: 0px;
    font-family: 'Bubblegum Sans', cursive;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

p {
    font-size: 16pt;
}

ul {
    font-size: 16pt;
}

label,
input,
textarea,
textPath,
select,
.bodylinks{
    display: block;
    margin:5px;
}

body {

    background: #fff repeat;
    background-position: 0 -45px !important;
    border-radius: 25px;
    border: 5px solid #73AD21;
    border-color: #4c96d7;
    margin: 1% 10%;

}

#page-header {

    width: 100%;
    height: 10%;
    margin-bottom:15px;
}

#page-header .flexheader{
    display: flex;
    justify-content: space-evenly;
}

.flexheader .logoimg{
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.flexheader .myaccount {

    display: flex;
    justify-content: flex-end;
    margin: 1% 2%;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-text-fill-color: #333;
    flex: 1;

}

/*The top navigation bar that holds the links*/
.topnav {

    background-color: #333;
    overflow: auto;

}

/* Links inside the navbar */
.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: inherit;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.topnav li a:hover {
    background-color: #4c96d7;
    color:#333;
}

.active {
    background-color: #4c96d7;
    -webkit-text-fill-color: #333;
}


/* Hide the link that should open and close the topnav for large screens */
.topnav .icon {

    float: right;
    display: none;
}

/*End of menu styles*/

#main {

    padding: 0.5%;
    height: 65%;

}

#maintitle {
    position: relative;
}

#inventoryDisplay{
    width: 40%;
    height: auto;

    table-layout: auto;
    border-radius: 1em;
    border-color: #4c96d7;
    border: 1px;
    border-width: 0.5em;
    border-style: solid;
    margin-right: 1em;
    padding-left: 2px;
}


#inventoryDisplay tr{
    text-align: left;
}
#inventoryDisplay tr:nth-child(even) {background: #CCC}
#inventoryDisplay tr:nth-child(odd) {background: #FFF}

#footer {

    text-align: center;
    border-top: #333;
    border-top-style: solid;
    /*height: 5%;*/
    margin: 0;
    padding: 0;
}

/*Content styles*/

.carads {
    -webkit-text-fill-color: #4c96d7;
    text-align: left;
    margin: 0px;
    padding:0px;
    overflow: auto;
    display: block;

}

#homeimg {
    max-width: 100%;
    height: auto;

}

#overlayedcontent p{

    position: absolute;
    margin-left:1.75%;


}


#dualcolumn {
    margin-top: 1%;
    text-align: left;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex:0;
    padding: 0 2% 0 2%;

}

#leftcolumn {
    display: -ms-flexbox;
    width: 45%;
    align-self: stretch;
    margin-right: 5%;

}

#leftcolumn table {
    text-align: center;
    width: 100%;


}

#leftcolumn th, td {
    border-spacing:2em;
}

#leftcolumn table th{
    border-style: solid;
    border-color: #8d8d8d;
    background-color: #4c96d7;
}

#rightcolumn {
    display: -ms-flexbox;
    width: 45%;
    align-self: Stretch;


}

#rightcolumn ul{
    font-size: 1.5em;
}

#footer p{

    font-size: 1em;

}


/*button Animations*/

#orderbutton {
    display: inline-block;
    border-radius: 0px;
    background-color: #4c96d7;
    border: solid;
    border-color: #000;
    -webkit-text-fill-color: #333;
    font-size: inherit;
    text-align: center;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 1.75%;
    position: absolute;
    top: 30%;

}

#orderbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#orderbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#orderbutton:hover span {
    padding-right: 25px;
}

#orderbutton:hover span:after {
    opacity: 1;
    right: 0;
}

#inv-display {
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    height: auto;
    padding-bottom: 5px;

}

#inv-display li {
    flex: 1 0 33%;
    border: 0.5px;
    border-style: solid;
    margin-bottom: 5px;
    list-style-type: none;

}

#inv-display li img{
    width: 200px;
    height: 123px;

}

#inv-display {
    flex-flow: row wrap;
    justify-content: flex-start;
}

#inv-display h2{
    font-size: 1rem;
}

#inv-display li {
    max-width: 200px;
    flex: 1 0 auto;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#inv-display div {
    width: 100%;
}

#invImageDiv{
    width:40.25%;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: lightseagreen;
    margin-left: auto;
    margin-right: auto;
}

#invImageDiv img{
    width:100%;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: lightseagreen;
}

#invImageDiv h2, p{
    margin-left: 1%;
}

.reviewName{
    width:10%;
    display: block;
    float: left;
}

.reviewDate{
    width:10%;
    display: block;
    float: left;
}

/*Mobile Template Modification at screens 800 and below*/



@media screen and (max-width: 900px) and (min-width: 300px) {
    html {

        background: #fff;

    }



    #invImageDiv{
        width:100%;
    }
    #invImage img{
        width:100%;
        height: auto;

    }

    #reviewDisplay{
        width:100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .carads{
        font-size: 3.75vw;
    }

    body {

        background: #fff repeat;
        background-position: 0 -45px !important;
        border-radius: 0px;
        border: 0px solid #73AD21;
        margin: 0px;

    }

    #orderbutton {

        display: flex;
        align-items: center;
        justify-content: center;
        top: auto;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        left: auto;
        padding: 20px;
        width: 200px;

    }

    #dualcolumn{

        font-size: 1em;
        display: -ms-flexbox;
        flex-direction: column-reverse;
        align-content: stretch;
        flex:1 1;

    }

    #leftcolumn{
        width: 100%;
    }

    #rightcolumn{
        width: 100%;

    }

    #rightcolumn ul{
        font-size: 1em;
    }

}

/*Menu navigation for mobile*/
@media screen and (max-width: 430px) {

    .topnav .spawns {width:100%; text-align: center; }
    .topnav .active {width: 100%; text-align: center;}

}

@media screen and (max-width: 430px) {
    .topnav.responsive {position: relative;}

    .topnav.responsive li{
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive {
        display: inline;
    }

}

/*Body link styles*/
/* unvisited link */
.bodylinks:link {
    color: purple;
}

/* hover link */
.bodylinks:hover {
    color: #4c96d7;
}